body {
  background-color: #fcdada;
}
hr {
  border-style: dotted none none none;
  border-color: #c01018;
  border-width: 10px;
  height: 0;
  width: 30%;
}
h1
  {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #1f3c88;
  }
h3
  {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ec0101;
  }
