/*
font-family: 'Indie Flower', cursive;
font-family: 'Lora', serif;
font-family: 'Sansita Swashed', cursive;
*/
.my
{
width: 20%;
height:20%;
padding-left: 40px;
}
.title
{
font-family: 'Sansita Swashed', cursive;
}
